/**
*
* Link
*
**/

a {
  color: $colorDeepOrange500;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($$colorDeepOrange500, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($c$colorDeepOrange500);
}
